################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Orion.Application/bin/
/Orion.Application/obj/
/Orion.Service/bin/
/Orion.Service/obj/
/Orion.Repository/bin/
/Orion.Repository/obj/
/Orion.Domain/bin/
/Orion.Domain/obj/
/Orion.Utilities/bin/
/Orion.Utilities/obj/
/.vs/
/SampleApp/bin
/SampleApp/obj
