<div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">  
      <ng-container matColumnDef="serviceGuid">
        <th mat-header-cell *matHeaderCellDef> Número do Serviço </th>
        <td mat-cell *matCellDef="let element"><button mat-button color="primary" (click)="selectService(element)"> {{element.serviceGuid}} </button></td>
      </ng-container>
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef> Técnico Responsável </th>
        <td mat-cell *matCellDef="let element"> {{element.assignee?.user?.username}} </td>
      </ng-container>
  
      <ng-container matColumnDef="scheduled">
        <th mat-header-cell *matHeaderCellDef> Data de Agendamento </th>
        <td mat-cell *matCellDef="let element"> {{element.scheduled | date:'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> Data de Fechamento </th>
        <td mat-cell *matCellDef="let element"> {{element.completed | date:'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>