<div *ngIf="selectedRequest" class="drawer-content">
    <h3 class="d-inline">Chamado #{{selectedRequest.requestGuid}}</h3>  
    <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeRequest()"></button>
      <div class="row mt-3 mb-1">
        <div class="col-sm-6 fw-bold">Tipo:</div>
        <div class="col-sm-6">{{selectedRequest.category}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-1 mb-1">
        <div class="col-sm-6 fw-bold" fw-bold>Assunto:</div>
        <div class="col-sm-6">{{selectedRequest.header}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-1 mb-1">
        <div class="col-sm-6 fw-bold" fw-bold>Endereço:</div>
        <div class="col-sm-6">{{selectedRequest.address}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-1 mb-1">
      <div class="col-sm-6 fw-bold">Status:</div>
        <div *ngIf="selectedRequest.dateClosed" class="col-sm-6">Fechado</div>
        <div *ngIf="!selectedRequest.dateClosed" class="col-sm-6">Em andamento</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-1 mb-1">
        <div class="col-sm-6 fw-bold">Data de Abertura:</div>
        <div class="col-sm-6">{{selectedRequest.dateOpened | date:'dd/MM/yyyy HH:mm'}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-1 mb-1">
        <div class="col-sm-6 fw-bold">Data de Fechamento:</div>
        <div class="col-sm-6">{{selectedRequest.dateClosed | date:'dd/MM/yyyy HH:mm'}}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-1 mb-1">
        <div class="col-sm-6 fw-bold">Detalhes:</div>
        <div class="col-sm-6"><div class="text-break">{{selectedRequest.body}}</div></div>
      </div>
      <mat-divider></mat-divider>        
      <div *ngIf="selectedRequest.response" class="row mt-1 mb-1">
        <div class="col-sm-6 fw-bold">Resposta:</div>
        <div class="col-sm-6"><div class="text-break">{{selectedRequest.response}}</div></div>
      </div>
      <mat-divider *ngIf="selectedRequest.response"></mat-divider>
        
      <div class="text-end mt-3">
          <button mat-raised-button color="primary">Avaliar</button>
      </div>
  </div>